* {
	color:white;
	font-family: arial;
}

body {
	/*background-color:black;*/
	background: linear-gradient(#222222, #000000);
}

div.bgimg {
	position: absolute;
	top: calc(50px + 50vh - min(25vw, calc(25vh - 25px)));
	left: calc(50vw - min(25vw, calc(25vh - 25px)));
	opacity: 0.20;
	width: min(50vw,calc(50vh - 50px));
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	font-family: arial;
	/*background-color: #f4511e;*/
	
	background: linear-gradient(#f8713e, #c8310e);
	color: white;
	width: 100vw;
	height: 100px;
	line-height: 50px;
	box-shadow: 0px 3px 20px #c4310e;
}

div.container {
	position: absolute;
	top: calc(100px + 2vw);
	left: 2vw;
	height: calc(100vh - 2vw - 100px);
	width: 96vw;
	/*-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;*/
}

div.container:not(#main) {
	visibility: hidden;
}

table {
	text-align: center;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

/* TODO: better input color, better textbox color */
input {
	color: black;
}

input[type=button] {
	background-color: #f4511e;
	border-radius: 5px;
	border-color: #c8310e;
	color: #fff;
	padding: 4px 8px;
	margin: 0px 2px;
	cursor: pointer;
}