* {
	color:white;
	font-family: arial;
}

body {background-color:black;}

div.container {
	position: absolute;
	top: 0;
	left: 2vw;
	height: 97vh;
	width: 96vw;
	/*-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;*/
}

div.container:not(#main) {
	visibility: hidden;
}

table {
	text-align: center;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

/* TODO: better input color, better textbox color */
input {
	color: black;
}
